Flask
pymongo     #interacting with MongoDB
gunicorn    #deploying the app in production
librosa
soundfile
numpy
boto3   #interacting with AWS S3 Bucket
# python-dotenv   #interacting with Flask with .env variables